In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind
from datetime import datetime

In [28]:
proj_4 = pd.read_csv(r'F:\Project_4\reqest.csv',encoding = 'ISO-8859-1', low_memory = False)
proj_4

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z
...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z

In [29]:
arrival_city_name = {
    'YKS':'Yakutsk',
 'MJZ': 'Mirnyj',
 'KHV': 'Khabarovsk',
 'PKC': 'Petropavlovsk',
 'UUS': 'Yuzhno-Sakhalinsk',
 'VVO': 'Vladivostok',
 'LED': 'St. Petersburg',
 'KGD': 'Kaliningrad',
 'KEJ': 'Kemorovo',
 'CEK': 'Chelyabinsk',
 'MQF': 'Magnetiogorsk',
 'PEE': 'Perm',
 'SGC': 'Surgut',
 'BZK': 'Bryansk',
 'MRV': 'Mineralnye Vody',
 'STW': 'Stavropol',
 'ASF': 'Astrakhan',
 'NJC': 'Nizhnevartovsk',
 'SVX': 'Yekaterinburg',
 'SVO': 'Moscow',
 'VOZ': 'Voronezh',
 'VKO': 'Moscow',
 'SCW': 'Syktyvkar',
 'KUF': 'Samara',
 'DME': 'Moscow',
 'TJM': 'Tyumen',
 'GOJ': 'Nizhniy Novgorod',
 'TOF': 'Tomsk',
 'UIK': 'Ust Ilimsk',
 'NSK': 'Norilsk',
 'ARH': 'Arkhangelsk',
 'RTW': 'Saratov',
 'NUX': 'Novy Urengoy',
 'NOJ': 'Noyabrsk',
 'UCT': 'Ukhta',
 'USK': 'Usinsk',
 'NNM': 'Naryan-Mar',
 'PKV': 'Pskov',
 'KGP': 'Kogalym',
 'KJA': 'Krasnoyarsk',
 'URJ': 'Uraj',
 'IWA': 'Ivanovo',
 'PYJ': 'Yakutia',
 'KXK': 'Komsomolsk-on-Amur',
 'DYR': 'Anadyr',
 'PES': 'Petrozavodsk',
 'KYZ': 'Kyzyl',
 'NOZ': 'Novokuznetsk',
 'GRV': 'Grozny',
 'NAL': 'Nalchik',
 'OGZ': 'Beslan',
 'ESL': 'Elista',
 'SLY': 'Salekhard',
 'HMA': 'Khanty-Mansiysk',
 'NYA': 'Nyagan',
 'OVS': 'Sovetskiy',
 'IJK': 'Izhevsk',
 'KVX': 'Kirov',
 'NYM': 'Nadym',
 'NFG': 'Nefteyugansk',
 'KRO': 'Kurgan',
 'EGO': 'Belgorod',
 'URS': 'Kursk',
 'LPK': 'Lipetsk',
 'VKT': 'Vorkuta',
 'UUA': 'Bugulma',
 'JOK': 'Yoshkar-Ola',
 'CSY': 'Cheboksary',
 'ULY': 'Ulyanovsk',
 'OSW': 'Orsk',
 'PEZ': 'Penza',
 'SKX': 'Saransk',
 'TBW': 'Tambow',
 'UKX': 'Ust-Kut',
 'GDZ': 'Gelendzhik',
 'IAR': 'Yaroslavl',
 'NBC': 'Nizhnekamsk',
 'ULV': 'Ulyanovsk',
 'SWT': 'Strezhevoy',
 'EYK': 'Beloyarsky',
 'KLF': 'Kaluga',
 'RGK': 'Gorno-Altaysk',
 'KRR': 'Krasnodar',
 'MCX': 'Makhachkala',
 'KZN': 'Kazan',
 'REN': 'Orenburg',
 'UFA': 'Ufa',
 'OVB': 'Novosibirsk',
 'CEE': 'Cherepovets',
 'OMS': 'Omsk',
 'ROV': 'Rostov',
 'AER': 'Sochi',
 'VOG': 'Volgograd',
 'BQS': 'Blagoveschensk',
 'GDX': 'Magadan',
 'HTA': 'Chita',
 'BTK': 'Bratsk',
 'IKT': 'Irkutsk',
 'UUD': 'Ulan-ude',
 'MMK': 'Murmansk',
 'ABA': 'Abakan',
 'BAX': 'Barnaul',
 'AAQ': 'Anapa',
 'CNN': 'Neryungri'

    }
proj_4['arrival_city_name'] = proj_4['arrival_airport'].map(arrival_city_name)
proj_4

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow
...,...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod

In [30]:
departure_city_name = {
    'YKS':'Yakutsk',
 'MJZ': 'Mirnyj',
 'KHV': 'Khabarovsk',
 'PKC': 'Petropavlovsk',
 'UUS': 'Yuzhno-Sakhalinsk',
 'VVO': 'Vladivostok',
 'LED': 'St. Petersburg',
 'KGD': 'Kaliningrad',
 'KEJ': 'Kemorovo',
 'CEK': 'Chelyabinsk',
 'MQF': 'Magnetiogorsk',
 'PEE': 'Perm',
 'SGC': 'Surgut',
 'BZK': 'Bryansk',
 'MRV': 'Mineralnye Vody',
 'STW': 'Stavropol',
 'ASF': 'Astrakhan',
 'NJC': 'Nizhnevartovsk',
 'SVX': 'Yekaterinburg',
 'SVO': 'Moscow',
 'VOZ': 'Voronezh',
 'VKO': 'Moscow',
 'SCW': 'Syktyvkar',
 'KUF': 'Samara',
 'DME': 'Moscow',
 'TJM': 'Tyumen',
 'GOJ': 'Nizhniy Novgorod',
 'TOF': 'Tomsk',
 'UIK': 'Ust Ilimsk',
 'NSK': 'Norilsk',
 'ARH': 'Arkhangelsk',
 'RTW': 'Saratov',
 'NUX': 'Novy Urengoy',
 'NOJ': 'Noyabrsk',
 'UCT': 'Ukhta',
 'USK': 'Usinsk',
 'NNM': 'Naryan-Mar',
 'PKV': 'Pskov',
 'KGP': 'Kogalym',
 'KJA': 'Krasnoyarsk',
 'URJ': 'Uraj',
 'IWA': 'Ivanovo',
 'PYJ': 'Yakutia',
 'KXK': 'Komsomolsk-on-Amur',
 'DYR': 'Anadyr',
 'PES': 'Petrozavodsk',
 'KYZ': 'Kyzyl',
 'NOZ': 'Novokuznetsk',
 'GRV': 'Grozny',
 'NAL': 'Nalchik',
 'OGZ': 'Beslan',
 'ESL': 'Elista',
 'SLY': 'Salekhard',
 'HMA': 'Khanty-Mansiysk',
 'NYA': 'Nyagan',
 'OVS': 'Sovetskiy',
 'IJK': 'Izhevsk',
 'KVX': 'Kirov',
 'NYM': 'Nadym',
 'NFG': 'Nefteyugansk',
 'KRO': 'Kurgan',
 'EGO': 'Belgorod',
 'URS': 'Kursk',
 'LPK': 'Lipetsk',
 'VKT': 'Vorkuta',
 'UUA': 'Bugulma',
 'JOK': 'Yoshkar-Ola',
 'CSY': 'Cheboksary',
 'ULY': 'Ulyanovsk',
 'OSW': 'Orsk',
 'PEZ': 'Penza',
 'SKX': 'Saransk',
 'TBW': 'Tambow',
 'UKX': 'Ust-Kut',
 'GDZ': 'Gelendzhik',
 'IAR': 'Yaroslavl',
 'NBC': 'Nizhnekamsk',
 'ULV': 'Ulyanovsk',
 'SWT': 'Strezhevoy',
 'EYK': 'Beloyarsky',
 'KLF': 'Kaluga',
 'RGK': 'Gorno-Altaysk',
 'KRR': 'Krasnodar',
 'MCX': 'Makhachkala',
 'KZN': 'Kazan',
 'REN': 'Orenburg',
 'UFA': 'Ufa',
 'OVB': 'Novosibirsk',
 'CEE': 'Cherepovets',
 'OMS': 'Omsk',
 'ROV': 'Rostov',
 'AER': 'Sochi',
 'VOG': 'Volgograd',
 'BQS': 'Blagoveschensk',
 'GDX': 'Magadan',
 'HTA': 'Chita',
 'BTK': 'Bratsk',
 'IKT': 'Irkutsk',
 'UUD': 'Ulan-ude',
 'MMK': 'Murmansk',
 'ABA': 'Abakan',
 'BAX': 'Barnaul',
 'AAQ': 'Anapa',
 'CNN': 'Neryungri'

    }
proj_4['departure_city_name'] = proj_4['departure_airport'].map(departure_city_name)
proj_4

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa
...,...,...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa

In [31]:
proj_4['fuel_cost'] = proj_4.apply(lambda _: '53700', axis=1)
proj_4

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700

In [32]:
fuel_consumption_ton_per_hour = {
    '773':'8500',
 '763': '4800',
 'SU9': '3100',
 '320': '2700',
 '321': '2900',
 '319': '2600',
 '733': '2600',
 'CN1': '10',
 'CR2': '10',    
   }
proj_4['fuel_consumption_ton_per_hour'] = proj_4['aircraft_code'].map(fuel_consumption_ton_per_hour)

In [33]:
lainer_Capacity =  {
    '773':'550',
 '763': '269',
 'SU9': '99',
 '320': '180',
 '321': '220',
 '319': '125',
 '733': '150',
 'CN1': '10',
 'CR2': '10',
   }
proj_4['lainer_Capacity'] = proj_4['aircraft_code'].map(lainer_Capacity)

In [34]:
proj_4

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700,2600,150
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700,2600,150
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700,2600,150
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700,2600,150
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700,2600,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700,3100,99
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700,3100,99
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700,3100,99
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700,3100,99
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700,3100,99

In [35]:
couter1 = pd.read_csv(r'F:\Project_4\couter1.csv',encoding = 'ISO-8859-1', low_memory = False)
id_summ_amm = pd.read_csv(r'F:\Project_4\id_summ_amm.csv',encoding = 'ISO-8859-1', low_memory = False)
actual_dutation=pd.read_csv(r'F:\Project_4\actual_dutation.csv',encoding = 'ISO-8859-1', low_memory = False)

In [36]:
#Истиное время в пути:
proj_4_1 = proj_4.merge(actual_dutation, left_on='flight_id', right_on='flight_id', suffixes=('_left', '_right'), indicator=True)
proj_4_1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700,2600,150,101.0,both
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700,2600,150,100.0,both
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700,3100,99,50.0,both
123,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700,3100,99,50.0,both
124,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700,3100,99,49.0,both
125,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700,3100,99,50.0,both
126,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700,3100,99,50.0,both

In [37]:
pr1=proj_4_1.merge(id_summ_amm, left_on='flight_id', right_on='flight_id', suffixes=('_left', '_right'))
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700,2600,150,101.0,both,113,1653000.0
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,109,1605400.0
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700,2600,150,100.0,both,97,1431000.0
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,107,1556600.0
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,124,1812800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,82,632400.0
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,81,626100.0
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700,3100,99,49.0,both,90,720600.0
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,97,765300.0
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,96,746400.0

In [39]:
pr1 = pr1.astype({'lainer_Capacity':'int','People_on_a_board':'int'},errors='ignore')
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700,2600,150,101.0,both,113,1653000.0
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,109,1605400.0
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700,2600,150,100.0,both,97,1431000.0
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,107,1556600.0
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,124,1812800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,82,632400.0
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,81,626100.0
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700,3100,99,49.0,both,90,720600.0
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,97,765300.0
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,96,746400.0

In [40]:
pr1['empty_seats'] = pr1['lainer_Capacity'] - pr1['People_on_a_board']
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,arrival_city_name,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,Moscow,Anapa,53700,2600,150,101.0,both,113,1653000.0,37
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,109,1605400.0,41
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,Moscow,Anapa,53700,2600,150,100.0,both,97,1431000.0,53
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,107,1556600.0,43
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,Moscow,Anapa,53700,2600,150,99.0,both,124,1812800.0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,82,632400.0,17
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,81,626100.0,18
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,Belgorod,Anapa,53700,3100,99,49.0,both,90,720600.0,9
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,97,765300.0,2
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,Belgorod,Anapa,53700,3100,99,50.0,both,96,746400.0,3

In [41]:
pr1['perc_of_empty']=(pr1['empty_seats'] *100)/pr1['lainer_Capacity']
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,...,Anapa,53700,2600,150,101.0,both,113,1653000.0,37,24.666667
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,Anapa,53700,2600,150,99.0,both,109,1605400.0,41,27.333333
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,Anapa,53700,2600,150,100.0,both,97,1431000.0,53,35.333333
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,Anapa,53700,2600,150,99.0,both,107,1556600.0,43,28.666667
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,...,Anapa,53700,2600,150,99.0,both,124,1812800.0,26,17.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,...,Anapa,53700,3100,99,50.0,both,82,632400.0,17,17.171717
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,...,Anapa,53700,3100,99,50.0,both,81,626100.0,18,18.181818
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,...,Anapa,53700,3100,99,49.0,both,90,720600.0,9,9.090909
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,...,Anapa,53700,3100,99,50.0,both,97,765300.0,2,2.020202
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,...,Anapa,53700,3100,99,50.0,both,96,746400.0,3,3.030303

In [43]:
pr1 = pr1.astype({'average_sum':'int','People_on_a_board':'int','actual_flight_time':'int','fuel_consumption_ton_per_hour':'int','fuel_cost':'int'},errors='ignore')
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,departure_city_name,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,...,Anapa,53700,2600,150,101,both,113,1653000,37,24.666667
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,Anapa,53700,2600,150,99,both,109,1605400,41,27.333333
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,Anapa,53700,2600,150,100,both,97,1431000,53,35.333333
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,Anapa,53700,2600,150,99,both,107,1556600,43,28.666667
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,...,Anapa,53700,2600,150,99,both,124,1812800,26,17.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,...,Anapa,53700,3100,99,50,both,82,632400,17,17.171717
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,...,Anapa,53700,3100,99,50,both,81,626100,18,18.181818
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,...,Anapa,53700,3100,99,49,both,90,720600,9,9.090909
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,...,Anapa,53700,3100,99,50,both,97,765300,2,2.020202
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,...,Anapa,53700,3100,99,50,both,96,746400,3,3.030303

In [44]:
pr1['fuel_consumption_per_min']=pr1['fuel_consumption_ton_per_hour']/60
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,fuel_cost,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty,fuel_consumption_per_min
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,...,53700,2600,150,101,both,113,1653000,37,24.666667,43.333333
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,53700,2600,150,99,both,109,1605400,41,27.333333,43.333333
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,53700,2600,150,100,both,97,1431000,53,35.333333,43.333333
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,53700,2600,150,99,both,107,1556600,43,28.666667,43.333333
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,...,53700,2600,150,99,both,124,1812800,26,17.333333,43.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,...,53700,3100,99,50,both,82,632400,17,17.171717,51.666667
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,...,53700,3100,99,50,both,81,626100,18,18.181818,51.666667
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,...,53700,3100,99,49,both,90,720600,9,9.090909,51.666667
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,...,53700,3100,99,50,both,97,765300,2,2.020202,51.666667
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,...,53700,3100,99,50,both,96,746400,3,3.030303,51.666667

In [45]:
pr1['expenses'] = pr1['fuel_consumption_per_min'] * pr1['actual_flight_time']* pr1['fuel_cost']/1000
pr1.expenses = pr1.expenses.round()
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,fuel_consumption_ton_per_hour,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty,fuel_consumption_per_min,expenses
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,...,2600,150,101,both,113,1653000,37,24.666667,43.333333,235027.0
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,2600,150,99,both,109,1605400,41,27.333333,43.333333,230373.0
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,2600,150,100,both,97,1431000,53,35.333333,43.333333,232700.0
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,2600,150,99,both,107,1556600,43,28.666667,43.333333,230373.0
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,...,2600,150,99,both,124,1812800,26,17.333333,43.333333,230373.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,...,3100,99,50,both,82,632400,17,17.171717,51.666667,138725.0
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,...,3100,99,50,both,81,626100,18,18.181818,51.666667,138725.0
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,...,3100,99,49,both,90,720600,9,9.090909,51.666667,135950.0
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,...,3100,99,50,both,97,765300,2,2.020202,51.666667,138725.0
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,...,3100,99,50,both,96,746400,3,3.030303,51.666667,138725.0

In [46]:
pr1['profit'] = pr1['average_sum'] - pr1['expenses']
pr1

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty,fuel_consumption_per_min,expenses,profit
0,136119,PG0252,2017-01-03T10:05:00Z,2017-01-03T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-03T10:08:00Z,2017-01-03T11:49:00Z,...,150,101,both,113,1653000,37,24.666667,43.333333,235027.0,1417973.0
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,150,99,both,109,1605400,41,27.333333,43.333333,230373.0,1375027.0
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,150,100,both,97,1431000,53,35.333333,43.333333,232700.0,1198300.0
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,150,99,both,107,1556600,43,28.666667,43.333333,230373.0,1326227.0
4,136131,PG0252,2017-01-28T10:05:00Z,2017-01-28T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-28T10:07:00Z,2017-01-28T11:46:00Z,...,150,99,both,124,1812800,26,17.333333,43.333333,230373.0,1582427.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,136936,PG0480,2017-01-02T09:25:00Z,2017-01-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-02T09:28:00Z,2017-01-02T10:18:00Z,...,99,50,both,82,632400,17,17.171717,51.666667,138725.0,493675.0
114,136937,PG0480,2017-01-03T09:25:00Z,2017-01-03T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-03T09:29:00Z,2017-01-03T10:19:00Z,...,99,50,both,81,626100,18,18.181818,51.666667,138725.0,487375.0
115,136951,PG0480,2017-02-02T09:25:00Z,2017-02-02T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-02T09:28:00Z,2017-02-02T10:17:00Z,...,99,49,both,90,720600,9,9.090909,51.666667,135950.0,584650.0
116,136953,PG0480,2017-02-27T09:25:00Z,2017-02-27T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-27T09:27:00Z,2017-02-27T10:17:00Z,...,99,50,both,97,765300,2,2.020202,51.666667,138725.0,626575.0
117,136956,PG0480,2017-02-04T09:25:00Z,2017-02-04T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-04T09:33:00Z,2017-02-04T10:23:00Z,...,99,50,both,96,746400,3,3.030303,51.666667,138725.0,607675.0

In [60]:
More_25=pr1[pr1['perc_of_empty'] > 25]
More_25

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival,...,lainer_Capacity,actual_flight_time,_merge,People_on_a_board,average_sum,empty_seats,perc_of_empty,fuel_consumption_per_min,expenses,profit
1,136120,PG0252,2017-02-24T10:05:00Z,2017-02-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-24T10:07:00Z,2017-02-24T11:46:00Z,...,150,99,both,109,1605400,41,27.333333,43.333333,230373.0,1375027.0
2,136122,PG0252,2017-01-08T10:05:00Z,2017-01-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-08T10:08:00Z,2017-01-08T11:48:00Z,...,150,100,both,97,1431000,53,35.333333,43.333333,232700.0,1198300.0
3,136130,PG0252,2017-02-13T10:05:00Z,2017-02-13T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-13T10:07:00Z,2017-02-13T11:46:00Z,...,150,99,both,107,1556600,43,28.666667,43.333333,230373.0,1326227.0
7,136146,PG0252,2017-02-09T10:05:00Z,2017-02-09T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-09T10:08:00Z,2017-02-09T11:48:00Z,...,150,100,both,109,1604200,41,27.333333,43.333333,232700.0,1371500.0
10,136165,PG0252,2017-02-22T10:05:00Z,2017-02-22T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-22T10:11:00Z,2017-02-22T11:52:00Z,...,150,101,both,110,1567600,40,26.666667,43.333333,235027.0,1332573.0
11,136172,PG0252,2017-01-15T10:05:00Z,2017-01-15T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-15T10:05:00Z,2017-01-15T11:44:00Z,...,150,99,both,110,1617600,40,26.666667,43.333333,230373.0,1387227.0
12,136178,PG0252,2017-01-29T10:05:00Z,2017-01-29T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-29T10:10:00Z,2017-01-29T11:49:00Z,...,150,99,both,99,1434600,51,34.000000,43.333333,230373.0,1204227.0
14,136185,PG0252,2017-01-14T10:05:00Z,2017-01-14T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-14T10:06:00Z,2017-01-14T11:49:00Z,...,150,103,both,104,1520000,46,30.666667,43.333333,239681.0,1280319.0
15,136202,PG0252,2017-01-05T10:05:00Z,2017-01-05T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-05T10:07:00Z,2017-01-05T11:49:00Z,...,150,102,both,100,1495600,50,33.333333,43.333333,237354.0,1258246.0
16,136204,PG0252,2017-02-23T10:05:00Z,2017-02-23T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-23T10:06:00Z,2017-02-23T11:46:00Z,...,150,100,both,107,1457800,43,28.666667,43.333333,232700.0,1225100.0
17,136209,PG0252,2017-01-06T10:05:00Z,2017-01-06T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-06T10:09:00Z,2017-01-06T11:49:00Z,...,150,100,both,112,1615200,38,25.333333,43.333333,232700.0,1382500.0
21,136250,PG0252,2017-02-08T10:05:00Z,2017-02-08T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-08T10:06:00Z,2017-02-08T11:47:00Z,...,150,101,both,99,1407800,51,34.000000,43.333333,235027.0,1172773.0
23,136266,PG0252,2017-02-27T10:05:00Z,2017-02-27T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-27T10:08:00Z,2017-02-27T11:48:00Z,...,150,100,both,108,1566400,42,28.000000,43.333333,232700.0,1333700.0
25,136269,PG0252,2017-02-11T10:05:00Z,2017-02-11T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-11T10:13:00Z,2017-02-11T11:53:00Z,...,150,100,both,109,1605400,41,27.333333,43.333333,232700.0,1372700.0
26,136270,PG0252,2017-02-12T10:05:00Z,2017-02-12T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-12T10:12:00Z,2017-02-12T11:51:00Z,...,150,99,both,111,1628600,39,26.000000,43.333333,230373.0,1398227.0
28,136282,PG0252,2017-01-16T10:05:00Z,2017-01-16T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-16T10:07:00Z,2017-01-16T11:48:00Z,...,150,101,both,106,1518800,44,29.333333,43.333333,235027.0,1283773.0
33,136320,PG0252,2017-02-19T10:05:00Z,2017-02-19T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-19T10:05:00Z,2017-02-19T11:45:00Z,...,150,100,both,106,1544400,44,29.333333,43.333333,232700.0,1311700.0
34,136322,PG0252,2017-02-06T10:05:00Z,2017-02-06T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-06T10:11:00Z,2017-02-06T11:52:00Z,...,150,101,both,108,1567600,42,28.000000,43.333333,235027.0,1332573.0
35,136345,PG0252,2017-01-24T10:05:00Z,2017-01-24T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-24T13:32:00Z,2017-01-24T15:12:00Z,...,150,100,both,108,1517600,42,28.000000,43.333333,232700.0,1284900.0
37,136351,PG0252,2017-02-26T10:05:00Z,2017-02-26T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-26T10:13:00Z,2017-02-26T11:53:00Z,...,150,100,both,105,1555400,45,30.000000,43.333333,232700.0,1322700.0
38,136360,PG0252,2017-02-05T10:05:00Z,2017-02-05T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-05T10:08:00Z,2017-02-05T11:48:00Z,...,150,100,both,97,1455400,53,35.333333,43.333333,232700.0,1222700.0
39,136366,PG0252,2017-01-11T10:05:00Z,2017-01-11T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-11T10:08:00Z,2017-01-11T11:47:00Z,...,150,99,both,103,1527400,47,31.333333,43.333333,230373.0,1297027.0
40,136383,PG0252,2017-01-25T10:05:00Z,2017-01-25T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-25T10:09:00Z,2017-01-25T11:51:00Z,...,150,102,both,106,1493200,44,29.333333,43.333333,237354.0,1255846.0
44,136411,PG0252,2017-02-04T10:05:00Z,2017-02-04T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-04T10:06:00Z,2017-02-04T11:46:00Z,...,150,100,both,110,1590800,40,26.666667,43.333333,232700.0,1358100.0
45,136420,PG0252,2017-01-01T10:05:00Z,2017-01-01T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-01T10:09:00Z,2017-01-01T11:47:00Z,...,150,98,both,104,1542000,46,30.666667,43.333333,228046.0,1313954.0
51,136452,PG0252,2017-02-17T10:05:00Z,2017-02-17T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-17T10:08:00Z,2017-02-17T11:48:00Z,...,150,100,both,109,1603000,41,27.333333,43.333333,232700.0,1370300.0
52,136458,PG0252,2017-01-02T10:05:00Z,2017-01-02T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-02T10:07:00Z,2017-01-02T11:46:00Z,...,150,99,both,110,1568800,40,26.666667,43.333333,230373.0,1338427.0
54,136464,PG0252,2017-01-09T10:05:00Z,2017-01-09T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-09T10:07:00Z,2017-01-09T11:47:00Z,...,150,100,both,100,1398000,50,33.333333,43.333333,232700.0,1165300.0
57,136485,PG0252,2017-01-27T10:05:00Z,2017-01-27T11:45:00Z,AAQ,SVO,Arrived,733,2017-01-27T10:07:00Z,2017-01-27T11:47:00Z,...,150,100,both,106,1520000,44,29.333333,43.333333,232700.0,1287300.0
58,136486,PG0252,2017-02-02T10:05:00Z,2017-02-02T11:45:00Z,AAQ,SVO,Arrived,733,2017-02-02T10:07:00Z,2017-02-02T11:48:00Z,...,150,101,both,107,1505400,43,28.666667,43.333333,235027.0,1270373.0
68,136642,PG0480,2017-01-30T09:25:00Z,2017-01-30T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-01-30T09:28:00Z,2017-01-30T10:17:00Z,...,99,49,both,64,531000,35,35.353535,51.666667,135950.0,395050.0
93,136807,PG0480,2017-02-23T09:25:00Z,2017-02-23T10:15:00Z,AAQ,EGO,Arrived,SU9,2017-02-23T09:28:00Z,2017-02-23T10:18:00Z,...,99,50,both,68,531000,31,31.313131,51.666667,138725.0,392275.0